@charset "UTF-8";
body {
  background-color: antiquewhite;
  font-weight: 600;
}

.container {
  font-family: "AvenirNext", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.625;
  color: #33475b;
  display: flex;
  width: 90vw;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container * {
  box-sizing: border-box;
}

header {
  flex: 1 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding: 15px 0 15px;
  width: 100%;
  background-color: rgba(25, 204, 136, 0.75);
  border-radius: 2em;
  border: #cc195d dashed 0.35em;
  margin-bottom: 1em;
}
header .info {
  padding: 10px 10vw;
}
header .info h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
header .links {
  flex: 1 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
header #avatar {
  height: 25vh;
  border-radius: 50%;
  border: #cc195d dashed 0.2em;
  transition-property: opacity;
}
header #avatar:hover {
  transition-duration: 0.5s;
  transform: scale(1.02);
  opacity: 0.8;
}

a.svg {
  position: relative;
  display: inline-block;
  width: 100%;
}
a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.svg {
  transition-property: opacity;
}
.svg:hover {
  transition-duration: 0.5s;
  transform: scale(1.2);
  opacity: 0.6;
}

.logo {
  width: 2.5em;
  transition-property: opacity;
}
.logo:hover {
  transition-duration: 0.5s;
  opacity: 0.8;
}

.main {
  flex: 1 auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 1em;
}

.jobs {
  background-color: rgba(25, 204, 136, 0.75);
  border-radius: 2em;
  margin-right: 0.5em;
  border: #cc195d dashed 0.35em;
  flex: 1 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.jobs li {
  list-style: none;
  /* Скрываем маркеры списка */
  text-indent: -1em;
  /* Сдвигаем элементы списка влево */
}
.jobs li::before {
  content: "🚀";
  /* Добавляем маркер в шестнадцатеричном формате*/
  padding-right: 5px;
  /* Расстояние от маркеров до текста */
}

.advantages {
  flex: 1 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-radius: 2em;
  margin-left: 0.5em;
  border: #cc195d dashed 0.35em;
  background-color: rgba(25, 204, 136, 0.75);
}
.advantages li {
  list-style: none;
  /* Скрываем маркеры списка */
  text-indent: -1em;
  /* Сдвигаем элементы списка влево */
}
.advantages li::before {
  content: "🚀";
  /* Добавляем маркер в шестнадцатеричном формате*/
  padding-right: 5px;
  /* Расстояние от маркеров до текста */
}

footer {
  background-color: rgba(25, 204, 136, 0.75);
  align-items: center;
  border-radius: 2em;
  width: 100%;
  flex: 1 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border: #cc195d dashed 0.35em;
}
footer .title {
  font-size: 1.5em;
  padding: 0.3em;
}

.footer {
  flex: 1 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  font-size: 1.25em;
}
.footer div {
  margin: 0.3em;
}
.footer input {
  height: 3em;
  font-size: 0.7em;
  color: beige;
  padding: 5px;
  background-color: #ff5a79;
  box-shadow: 0 3px #f3002e;
  border-radius: 5px;
  border: none;
}
.footer input:focus {
  outline: #f3002e 1px solid;
}
.footer input::placeholder {
  text-align: center;
  font-weight: 600;
  color: beige;
}
.footer button {
  box-shadow: 0 4px #f3002e;
  border: none;
  border-radius: 5px;
  position: relative;
  background-color: #ff5a79;
  color: #fff;
  cursor: pointer;
  font-size: 16.5px;
  font-weight: 600;
  padding: 0.75em 1em;
}
.footer button:hover {
  box-shadow: 0 1px #f3002e;
  transition-duration: 0.3s;
  transform: translateY(4px);
}

@media only screen and (max-width: 860px) {
  .footer {
    flex-direction: column;
    align-items: flex-end;
  }
}
@media only screen and (max-width: 545px) {
  .advantages {
    margin-top: 1em;
    margin-left: 0;
  }

  .jobs {
    margin-right: 0;
  }

  .main {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
