.container {
  * {
    flex: 1 auto;
    box-sizing: border-box;
  }
  display: flex;
  width: 90vw;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-item-column {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

@mixin flex-item-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

header {
  @include flex-item-row;
  width: 100%;
  height: 5rem;
  background-color: crimson;
}

.main {
  height: 5rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.jobs {
  background-color: darkorchid;
  @include flex-item-column;
}

.links {
  @include flex-item-column;
  background-color: dodgerblue;
}

footer {
  background-color: lightcoral;
  @include flex-item-row;
  height: 5rem;
  width: 100%;
}

