.container {
  * {
    box-sizing: border-box;
  }
  font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.625;
  color: #33475b;
  display: flex;
  width: 90vw;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-item-column {
  flex: 1 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

@mixin flex-item-row {
  flex: 1 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

header {
  @include flex-item-row;
  padding: 10px;
  width: 100%;
  background-color: crimson;
  border-radius:2em;
  border: lightcoral dashed 0.5em;
  margin: 2em;

  h1 {
    font-size: 2.5rem;
    padding: 10px;
  }

  .links {
    @include flex-item-row;
  }

  #avatar {
    height: 20vh;
    border-radius: 50%;
  }
}

a.svg {
  position: relative;
  display: inline-block;
  width: 100%;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.logo {
  width: 2.5em;
}

.main {
  flex: 1 auto;
  height: 5rem;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.jobs {
  background-color: darkorchid;
  @include flex-item-column;
}

.advantages {
  @include flex-item-column;
  background-color: dodgerblue;
}

footer {
  background-color: lightcoral;
  @include flex-item-row;
  margin-top: 2em;
  height: 5rem;
  width: 100%;
}

