.container {
  * {
    box-sizing: border-box;
  }

  font-family: "AvenirNext", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.625;
  color: #33475b;
  display: flex;
  width: 90vw;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-item-column {
  flex: 1 auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

@mixin flex-item-row {
  flex: 1 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

header {
  @include flex-item-row;
  padding: 15px 0 15px;
  width: 100%;
  background-color: rgba(#19cc88, 0.75);
  border-radius: 2em;
  border: 	#cc195d dashed 0.35em;
  margin-bottom: 2em;

  .info {
    h1 {
      font-size: 2.5rem;
    }
    padding: 10px 10vw;
  }

  .links {
    @include flex-item-row;
  }

  #avatar {
    height: 25vh;
    border-radius: 50%;
    border: #cc195d dashed 0.2em;
  }
}

a.svg {
  position: relative;
  display: inline-block;
  width: 100%;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.logo {
  width: 2.5em;
}

.main {
  flex: 1 auto;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 2em;
}

.jobs {
  background-color: rgba(#19cc88, 0.75);
  border-radius: 2em;
  margin-right: 1em;
  border: 	#cc195d dashed .35em;
  @include flex-item-column;
}

.advantages {
  @include flex-item-column;
  border-radius: 2em;
  margin-left: 1em;
  border: 	#cc195d dashed 0.35em;
  background-color: rgba(#19cc88, 0.75);
}

footer {
  background-color: rgba(#19cc88, 0.75);
  align-items: center;
  border-radius: 2em;
  width: 100%;
  @include flex-item-column;
  border: 	#cc195d dashed 0.35em;

  .title {
    font-size: 1.5em;
    padding: 0.3em;
  }
}

.footer {
  @include flex-item-row;
  padding: 1em;
  font-size: 1.25em;

  div {
    margin: 0.3em;
  }

  input {
    height: 3em;
    font-size: 0.7em;
    background-color: rgba(#33475b, 0.9);
  }
  
  button {
    height: 3em;
    border-radius: 5px;
    background-color: #33475b;
  }
}

@media only screen and (max-width: 860px) {
  .footer {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media only screen and (max-width: 545px) {
  .advantages {
    margin-top: 2em;
    margin-left: 0;
  }
  .jobs {
    margin-right: 0;
  }
  .main {
    flex-direction: column;
  }
}
